.container {
  text-align: center;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  padding: 20px;
  border-radius: 16px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef2ff;
  color: #4f46e5;
  border-radius: 50%;
}

.stepTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.desc {
  color: #6b7280;
  font-size: 14px;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}